<div class="container">
     
      <div class="col-lg-2"></div>
         <div class="col-lg-8"> 
             <div class="row">
                <div class="col-lg-12" style="font-size: 0.5em; line-height: 1.5em; margin-top: 80px;">
                <h3><b>CONTATO:</b></h3>
                </div>           
            </div>    
              <form  ng-model="form" name="form"  id="contato_html" >
                <div class="form-group">
                  <label for="nome">Nome:*</label>
                  <input name="nome" type="text" class="form-control" id="nome" placeholder="" ng-model="contato.nome" required>
                </div><br>
                <div class="form-group">
                  <label for="email">E-mail:*</label>
                  <input name="email" type="email" class="form-control" id="email" placeholder="" ng-model="contato.email" required>
                    <span ng-show="form.email.$invalid && form.email.$dirty">Formato de email inválido</span>
                </div><br> 
                <div class="form-group">
                  <label for="assunto">Assunto:*</label>
                  <input name="assunto"  class="form-control" id="assunto" placeholder="" ng-model="contato.assunto" required>
                  
                </div><br>
                <div class="form-group">
                  <label for="mensagem">Mensagem:*</label>
                  <textarea name="mensagem"  class="form-control" rows="10" id="mensagem" placeholder="" ng-model="contato.mensagem" required></textarea>
                </div><br>    
                <button  id="botao_contato" ng-click="enviarContato(contato)" class="button" ng-disabled="form.$invalid" >ENVIAR</button>
              </form>
               <div class="row">
                <div class="col-lg-12" style="font-size: 0.5em; line-height: 1.3em; margin-top: 10px;">
                       <h3 ng-bind="respostaDeEnvio"></h3>
                </div>           
            </div>
        </div>
        <div class="col-lg-2"></div>
     </div>