<div class="container">
     
      <div class="col-lg-2"></div>
         <div class="col-lg-8"> 
             <div class="row" style="margin: auto;">
                <div class="col-lg-12" style="font-size: 0.5em; line-height: 1.5em; margin-top: 80px;">
                <h3><b>CONTATO:</b></h3>
            </div>           
        </div>    
              <form role="form" id="contato_html">
                <div class="form-group">
                  <label for="nome">Nome:*</label>
                  <input type="nome" class="form-control" id="email" placeholder="">
                </div><br>
                <div class="form-group">
                  <label for="email">E-mail:*</label>
                  <input type="email" class="form-control" id="email" placeholder="">
                </div><br> 
                <div class="form-group">
                  <label for="assunto">Assunto:*</label>
                  <input type="assunto" class="form-control" id="assunto" placeholder="">
                </div><br>
                <div class="form-group">
                  <label for="mensagem">Mensagem:*</label>
                  <textarea type="mensagem" class="form-control" rows="5" id="mensagem" placeholder=""></textarea>
                </div><br>    
                <button id="botao_contato" type="submit" class="button">ENVIAR</button>
              </form>
        </div>
        <div class="col-lg-2"></div>
     </div>