
        
    <div class="container">

        <div class="row">
           <div class="col-lg-1"></div>
            <div class="col-lg-10" style="font-size: 1.3em; text-align: center; line-height: 1.5;">
               <span>
                <br><br><br>Estamos criando uma linha de produtos e kits de desenvolvimento que viabilizam e agilizam a criação de aplicações para a Internet das coisas                       (IoT).<br><br>
                O <a href="">momote001</a> é o nosso primeiro produto. Ele vai permitir que qualquer pessoa crie aplicações com comunicação sem-fio para diversas áreas.                       Mobilidade, saúde, comércio, segurança, automação residencial, comercial, etc.<br><br>
                Por enquanto estamos finalizando os acordos e parcerias necessários para fabricá-lo aqui no Brasil e vender por um preço competitivo. Enquanto a placa não sai                 do forno, estamos trabalhando para criar as ferramentas e os ambientes de desenvolvimento que serão disponibilizados. Ajude desde já a criar a plataforma do                   futuro e participe ativamente da comunidade de desenvolvimento. Saiba mais!<br><br>
                Em breve, os arquivos finais para fabricação e produção do momote001 serão disponibilizados para que qualquer pessoa estude, fabrique e evolua o projeto.<br><br>
               </span>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div> 