<div class="container">

        <div class="row" style="margin: auto;">
           <div class="col-lg-1"></div>
            <div class="col-lg-10" style="font-size: 1.3em; text-align: center; line-height: 1.5;">
             <span>
                 <br><br><br><h3>Estamos criando um ambiente de desenvolvimento simples, intuitivo e funcional. <br>Nosso objetivo é fazer com que a tecnologia fique acessível a todos. Lutamos pela criação de tecnologia nacional, a fim de criar produtos com custo acessível. <br>Nos ajude a criar um ambiente onde desenvolvedores                      possam transformar suas ideias em aplicações reais.</h3><br>
             </span>
             <div class="col-lg-6">
                 <h4><b><br><br>PARTICIPE DO DESENVOLVIMENTO<br></b></h4>
                 <span>
                     <br>Toda ajuda é bem vinda. Nossa comunidade está apenas começando. Se você é desenvolvedor e deseja colaborar, faça parte da nossa família!<br>
                 </span>
                 <a href="https://groups.google.com/forum/#!forum/momote-dev-br"><img id="img_rede_social" src="images/google_icon.png" alt=""></a>
                 <a href="https://groups.google.com/forum/#!forum/momote-dev-br"><br>Grupo do Google</a>
             </div>
             <div class="col-lg-6">
                 <h4><b><br><br>ESPALHE AS IDEIAS<br></b></h4>
                 <span>
                     <br>Curta nossa página e postagens no Facebook. Acompanhe e receba novidades, compartilhe nossas fotos, vídeos e ideias!<br>
                 </span>
                 <a href="https://www.facebook.com/momote.io"><img id="img_rede_social" src="images/facebook_icon.png" alt=""></a>
                 <a href="https://www.facebook.com/momote.io"><br>Página do Facebook</a>
             </div>
             
              
              
              
              
              
               
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>